<template>
  <!-- https://codepen.io/john2561/pen/xxmMwGX -->
  <div class="holder row">
    <div class="message q-pa-sm vertical-middle text-h6 text-weight-bold">
      <div v-if="queue.length > 0" >{{ queue[0].label }}</div>
      <div v-else>Nothing playing</div>
    </div>
    <q-badge id="queue_depth" class="count q-my-sm text-h5" rounded color="grey" :label="queue.length"></q-badge>
    <audio ref="player" class="q-my-xs" controls></audio>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { AudioMsg } from '../../../BackEnd/src/models/types.js'
import { inject, onMounted } from 'vue'
import { EventBus } from 'quasar'
import { origin } from '../pages/urlhelper'

const bus = inject('bus') as EventBus

const queue = ref(<AudioMsg[]>[])
    
bus.on('enqueue', (msg: AudioMsg) => {
  queue.value.push(msg)

  if (queue.value.length > 10) {
    queue.value.splice(1,1)      // throttle audio by removing next (not current) clip
  }

  next_xmit()
})

const player = ref<HTMLMediaElement | null>(null)
onMounted(() => {
  player.value?.addEventListener('ended', () => {
    bus.emit('played', queue.value.shift())
    next_xmit()
  })
})

const next_xmit = () => {
  if ((!player.value?.paused) || (queue.value.length === 0)) { return }

  const clip = queue.value[0];

  player.value.volume = clip.hasOwnProperty('volume') ? clip.volume : 1.0
  //console.log(`${origin('http')}/audio?file=${clip.file}`)
  player.value.src = `${origin('http')}/audio?file=${clip.file}&source=${clip.source}`
  //player.src = clip.url + '?file=' + clip.file + '#t=0.25,' + clip.duration - 0.25;
  player.value.play()
}

</script>

<style>
.holder {
  flex-grow: 1;
}
/* .holder {
  border: 3px solid orange;
}
.holder > * {
  border: 3px solid blue;
} */
.message {
  flex-grow: 1;
}
.count {
  flex-grow: 0;
}

</style>