<template>
  <!-- https://codepen.io/john2561/pen/WNLPOEv -->
  <div class="row justify-between columns">
    <div class="column">
      <div class="text-h5 row">
        {{ xmit.label }}
        <q-popup-edit v-model="label" auto-save v-slot="scope">
          <q-input v-model="scope.value" dense autofocus counter @keyup.enter="scope.set" />
        </q-popup-edit>
        <q-icon v-if="xmit.replayed" name="support_agent" class="q-pl-md" />
        <!-- <div v-if="xmit.replayed"><q-icon name="support_agent" /></div> -->
      </div>
      <div>
        {{ xmit.freq }}Mhz ({{ xmit.duration }})
      </div>
    </div>
    <div class="row">
      <div class="clickable">
        <q-select standout v-model="bank" :options="banks" :dense="true" :options-dense="true" />
      </div>
      <div>
        <q-select standout v-model="freqClass" :options="freqClassOptions" :dense="true" :options-dense="true" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref, watch, inject } from 'vue'
  import { watchIgnorable } from '@vueuse/core'
  import { EventBus } from 'quasar'
  import { Datum } from '../../../BackEnd/src/models/types'

  const props = defineProps<{
    metric: Datum,
  }>()
  
  const label = ref(props.xmit.label)
  const bank = ref(props.xmit.bank)

  const freqClass = ref(props.xmit.class)
  const freqClassOptions = ref( ['V', 'D', 'S'] )

  const bus = inject('bus') as EventBus

  // parent initiated update alters label
  watch(props.xmit, async (newXmit) => {
    ignoreUpdates(() => {
      label.value = newXmit.label
      bank.value = newXmit.bank
      //freqClass.value = newXmit.class
    })
  })

  // UI change to ignore updates from property
const { ignoreUpdates } = watchIgnorable(
  [label, bank, freqClass],
  possibleChanges => (
    handlePossibleChanges(possibleChanges)
  ),
  { flush: 'sync' },
)

const handlePossibleChanges = (changes: Array<string>) => {
  let field, value
  if (changes[0] !== props.xmit.label) {
    field = 'label'; value = changes[0]
  } else if (changes[1] !== props.xmit.bank) {
    field = 'bank'; value = changes[1]
  } else if (changes[2] !== props.xmit.class) {
    field = 'class'; value = changes[2]
  } else {
   return
  }

  bus.emit('scanner_change', {type: 'change', xmit_key: props.xmit.xmit_key, freq_key: props.xmit.freq_key, field: field, value: value})
}

</script>

<style>
.columns {
  flex-grow: 1;
}
.clickable {
  cursor: pointer;
}
</style>