<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <!-- <q-toolbar class="flex"> -->
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <!-- <q-toolbar-title>
          Cart Console
        </q-toolbar-title> -->

        <AudioPlayer />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Essential Links
        </q-item-label>

        <EssentialLink
          v-for="(link, index) in essentialLinks"
          :key="link.title"
          v-bind="link"
          @click="setCurrentPage(index)"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view v-slot="{ Component }">
        <keep-alive>
          <component :is="Component" />
        </keep-alive>
      </router-view>
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref, inject } from 'vue'
import EssentialLink, { EssentialLinkProps } from 'components/EssentialLink.vue'
import { EventBus } from 'quasar'
import AudioPlayer from 'components/AudioPlayer.vue'

//const audioPlayer = ref()

const bus = inject('bus') as EventBus
// const bus = new EventBus<{
//     'enqueue': (arg1: string) => void
//     //'other': (arg: boolean) => void
// }>()

bus.on('enqueue', () => {
  //console.log('doing nothing with event in MainLayout')
  // In future listen for something more interesting like feature status
  //audioPlayer.value.enqueue(audioMsg)
})

//provide('bus', bus)

function setCurrentPage (index: number) {
  //currentConversationIndex.value = index
  console.log(`index: ${index}`)
}

const essentialLinks: EssentialLinkProps[] = [
  {
    title: 'Scanner',
    //caption: 'scanner',
    icon: 'settings_input_antenna',
    link: 'scanner'
  },
  {
    title: 'Leaderboard',
    icon: 'format_list_numbered',
    link: 'leaderboard'
  },
  {
    title: 'Telemetry',
    //caption: 'github.com/quasarframework',
    icon: 'assessment',
    link: 'telemetry'
  },
  {
    title: 'Administration',
    //caption: 'github.com/quasarframework',
    icon: 'admin_panel_settings',
    link: 'administration'
  },
  // {
  //   title: 'Leaderboard',
  //   //caption: 'chat.quasar.dev',
  //   icon: 'sports_score',
  //   link: 'leaderboard'
  // },
];

const leftDrawerOpen = ref(false)

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>

<style>

/*.audio {
  flex-grow: 1

}*/
/* .q-toolbar {
  border: 1px solid orange;
  flex-wrap: wrap;
} */

/* .q-toolbar div */
/* .q-toolbar > * {
  border: 1px solid blue;
  flex-grow: 1
} */
</style>