<template>
  <q-page>
    <div class="text-h3">System Commands</div>
    <div class="q-pa-md q-gutter-sm">
      <q-btn v-for="command in commands"
      :key="command"
      color="primary"
      :label="command"
      size="lg"
      @click="runCommand(command)"/>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import { useWebSocket } from '@vueuse/core'
import { origin } from './urlhelper'
import { useQuasar } from 'quasar'
import { AdministrationMsg } from '../../../BackEnd/src/models/types'

const commands = ref(<string[]>[])

const $q = useQuasar()

const runCommand = (command: string) => {
  $q.dialog({
    title: 'Confirm',
    message: `Would you like to ${command}?`,
    cancel: true,
    persistent: true
  }).onOk(() => {
    send(JSON.stringify({type:'command', command: command}))
  })
}

const { status, data, send } = useWebSocket(`${origin('ws')}/messages?feature=administration`, {
  autoReconnect: {
    retries: 3,
    delay: 1000,
    onFailed() {
      console.log('could not connect')
    },
  },
  heartbeat: {
    message: '{"type":"status"}',
    interval: 45000,
    pongTimeout: 1000,
  },  
})

watch(status, async (newStatus) => {
  if (newStatus === 'OPEN') {
    send(JSON.stringify({type:'config'}))
  }
})

watch(data, async (newData) => {
  const msg: AdministrationMsg = JSON.parse(newData)
  switch (msg.type) {
    case 'config':
      commands.value = msg.system
      console.log(`admin page got a config msg: ${JSON.stringify(commands.value)}`)
      break
    case 'error':
      console.log(msg.detail)
      $q.notify(msg.detail)
      break
    case 'status':
      console.log(msg.detail)
      break
    default:
      console.log('default handler')
      console.log(msg)
  }
})

</script>
