<template>
  <q-page>
    <q-list>
      <q-item v-for="xmit in xmitsPlayed" :key="xmit.xmit_key">
        <ScannerTransmission :xmit="xmit" :banks="banks" v-bind:xmit-data="JSON.stringify(xmit)" v-touch-hold.mouse="handleHold"/>
      </q-item>
    </q-list>
  </q-page>
</template>

<script setup lang="ts">
import ScannerTransmission from 'components/ScannerTransmission.vue'
import { ref, inject, watch } from 'vue'
import { useWebSocket } from '@vueuse/core'
import { origin } from './urlhelper'
import { EventBus, useQuasar, TouchHoldValue } from 'quasar'
import { ScannerAudioMsg, ScannerUpdateMsg } from '../../../BackEnd/src/models/types'

const xmitsPlayed = ref(<ScannerAudioMsg[]>[])
const banks = ref([])

const bus = inject('bus') as EventBus

const $q = useQuasar()

const { status, data, send } = useWebSocket(`${origin('ws')}/messages?feature=scanner`, {
  autoReconnect: {
    retries: 10,
    delay: 5000,
    onFailed() {
      console.log('could not connect')
    },
    
  },
  heartbeat: {
    message: '{"type":"status"}',
    interval: 45000,
    pongTimeout: 1000,
  },
})

watch(status, async (newStatus) => {
  if (newStatus === 'OPEN') {
    send(JSON.stringify({type:'config'}))
  }
})

watch(data, async (newData) => {
  const msg = JSON.parse(newData)
  console.log('scanner')
  console.log(msg)
  switch (msg.type) {
    case 'audio':
      bus.emit('enqueue', msg)
      break
    case 'config':
      console.log(`banks: ${msg.banks}`)
      banks.value = msg.banks
      break
    case 'update':
      handleUpdate(msg)
      break
    case 'error':
      $q.notify(msg.detail)
      break
    case 'status':
      console.log(msg.detail)
      break
    default:
      console.log('default')
      console.log(msg)
  }

})

// setInterval(() => {
//   send(JSON.stringify({ type: 'status' }))
//   console.log('just requested status')
// }, 45000)

bus.on('played', (msg: ScannerAudioMsg) => {
  if (msg.hasOwnProperty('xmit_key')) {
    if (msg.replayed) {
      updateMsg(msg)
    } else {
      storeMsg(msg)
    }
  }
})

bus.on('scanner_change', (msg: unknown) => {
  send(JSON.stringify(msg))
})

const updateMsg = (msg: ScannerAudioMsg) => {
  const index = xmitsPlayed.value.findIndex( (element) => { return msg.xmit_key === element.xmit_key } )
  xmitsPlayed.value[index].replayed = true
}

const storeMsg = (msg: ScannerAudioMsg) => {
  if (msg.detected_as !== 'V') { return }
  xmitsPlayed.value.unshift(msg)
  xmitsPlayed.value.length = xmitsPlayed.value.length < 100 ?
    xmitsPlayed.value.length : 100
}

const handleUpdate = (msg: ScannerUpdateMsg) => {
  if (msg.field === 'class') { return }  // "class" is specific to an xmit

  xmitsPlayed.value.forEach(function(element, index) {
    if (element.freq_key === msg.freq_key) {
      xmitsPlayed.value[index][msg.field] = msg.value
    }
  })
}

//const handleHold = (obj: { evt: { target: { getAttribute: (arg0: string) => string } } }) => {
const handleHold: TouchHoldValue = (details) => {
  if (!details.evt?.target || !(details.evt.target instanceof HTMLElement)) { return }
  let msg = JSON.parse((details.evt.target as HTMLElement).getAttribute('xmit-data') || '{}')
  if (!msg) { return }
  msg.replayed = true
  bus.emit('enqueue', msg)
}

// const dumpMsgs = () => {
//   console.log('dumping messages')
//   console.log(JSON.stringify(queue.value))
//   const FileSystem = require("fs");
//   FileSystem.writeFile('../../msgs.json', JSON.stringify(queue), (error: any) => {
//     if (error) throw error;
//   });
// }
</script>
