<template>
  <q-page>
    <q-markup-table>
      <thead>
        <tr>
          <th class="text-left">Metric</th>
          <th class="text-right">Current</th>
          <th class="text-right">Minimum</th>
          <th class="text-right">Maximum</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="metric in metrics" :key="metric['input']">
          <td class="text-left">{{ metric.input }}</td>
          <td class="text-right">{{ metric.value}}</td>
          <td class="text-right">{{ metric.min }}</td>
          <td class="text-right">{{ metric.max }}</td>
        </tr>
      </tbody>
    </q-markup-table>
  </q-page>
</template>

<script setup lang="ts">
import { ref, inject, watch } from 'vue'
// import { onBeforeRouteLeave, onBeforeRouteUpdate } from 'vue-router'
import { useRoute } from 'vue-router'
import { useWebSocket } from '@vueuse/core'
import { origin } from './urlhelper'
import { EventBus, useQuasar } from 'quasar'
import { TelemetryMsg, Datum } from '../../../BackEnd/src/models/types'

const route = useRoute()
watch(
  () => route.path,
  async newPath => {
    console.log(`newPath: ${JSON.stringify(newPath)}`)
    if (newPath === '/telemetry') {
      send(JSON.stringify({type:'subscribe'}))
    } else {
      send(JSON.stringify({type:'unsubscribe'}))
    }
  }
)

// onBeforeRouteLeave((to, from) => {
//   const answer = window.confirm(
//     'Do you really want to leave? you have unsaved changes!'
//   )
//   // cancel the navigation and stay on the same page
//   if (!answer) return false
// })

// onBeforeRouteUpdate(async (to, from) => {
//   // only fetch the user if the id changed as maybe only the query or the hash changed
//   console.log(`from: ${from} to: ${to}`)
// })

const metrics = ref(<Datum[]>[])

const bus = inject('bus') as EventBus

const $q = useQuasar()

const { data, send } = useWebSocket(`${origin('ws')}/messages?feature=telemetry`, {
  autoReconnect: {
    retries: 3,
    delay: 1000,
    onFailed() {
      console.log('could not connect')
    },
  },
  heartbeat: {
    message: '{"type":"status"}',
    interval: 45000,
    pongTimeout: 1000,
  },  
})

watch(data, async (newData) => {
  const msg: TelemetryMsg = JSON.parse(newData)
  switch (msg.type) {
    case 'audio':
      bus.emit('enqueue', msg)
      break
    case 'config':
      console.log(`got a config msg: ${msg}`)
      break
    case 'update':
      //console.log(msg)
      for (const metric of msg.metrics) {
        console.log(`${msg.type}: ${JSON.stringify(metric)}`)
        const idx = metrics.value.findIndex(item => item.input === metric.input)
        if (idx >= 0) {
          if (Object.hasOwn(metric, 'value')) {
            metrics.value[idx].value = metric.value
          }
          if (Object.hasOwn(metric, 'min')) {
            metrics.value[idx].min = metric.min
          }
          if (Object.hasOwn(metric, 'max')) {
            metrics.value[idx].max = metric.max
          }
        } else {
          metrics.value.push(metric)
        }
      }
      break
    case 'error':
      $q.notify(msg.detail)
      break
    case 'status':
      console.log(msg.detail)
      break      
    default:
      console.log('default')
      console.log(msg)
  }
})

</script>
